:root{
    /*Colors*/
    --primary-color:#FFD233;


    /*Backgrounds*/
    --player-background:rgba(14, 12, 12, 0.88);
    --player-buttons:rgba(67, 68, 61, 0.42);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
}

.player-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 1fr 70px 120px;
   /*  grid-template-rows: 1fr 300px 90px 120px;  */
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    height: 100%;
    margin: 0 auto;
    background-color: var(--player-background);
}

/*Navigation bar*/
.player-container__nav-bar{
    justify-self:center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 10px 5px 0;
}
.player-container__nav-bar figure{
    padding-top: 10px;
}
.player-container__nav-bar .arrow{
    width: 25px;
    height: 25px;
}
.player-container__nav-bar .text-status{
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}
.player-container__nav-bar .menu-icon{

    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/media-icons/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5px 20px;
    
}

/*Music card list*/
.player-container__cards-container{
   display: flex;
   gap:30px ;
   width: 100%;
   padding: 0 20px 0;  
   align-items: center;
}
.player-container__cards-container--slider{
   overflow-x: scroll;
   overscroll-behavior-x:contain;
   scroll-snap-type: x mandatory;
}
.player-container__cards-container--slider::-webkit-scrollbar{
 
   height: 7px;
   background-color: var(--player-buttons);
}
.player-container__cards-container--slider::-webkit-scrollbar-track{
    border-radius: 60px;
  
} 
.player-container__cards-container--slider::-webkit-scrollbar-thumb{
    background-color:rgba(14, 12, 12, 0.96);
    border-radius: 20px;
    
}



.player-container__cards-container .card{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    scroll-snap-align: center;
}
.player-container__cards-container img{
    width: 170px;
    height: 170px;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow:  10px 10px 5px rgba(14, 12, 12, 0.86),
             -4px -4px 10px rgba(255, 255, 255, 0.80);
}
.player-container__cards-container .card h2{
    margin-bottom: 0.6rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.player-container__cards-container .card p{
    font-size: 14px;
    font-weight: 500;
    color: white;
}

/*Progress bar*/

.player-container__progress-bar-container{
   justify-self: center;
   align-self: center;
   display: grid;
   grid-template-columns: 100%;
   width: 90%;
   padding-top: 20px;
   
}

.progress-bar{
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 8px;
    box-shadow:  10px 10px 5px rgba(14, 12, 12, 0.88),
             -4px -4px 10px rgba(255, 255, 255, 0.50);
    background-color: white;
}
.progress-bar__in-progress{
    position: absolute;
    width: 20%;
    height: 5px;
    border-radius: 8px;
    background-color: var(--primary-color);
}
.progress-bar__ball{
    position: absolute;
    top:-3px;
    left: 50px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.bar-timer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.bar-timer > p{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}


/*Buttons bar*/

.player-container__buttons{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.button-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--player-buttons);
    box-shadow:  7px 7px 5px rgba(14, 12, 12, 0.86),
             -4px -4px 10px rgba(255, 255, 255, 0.50), inset 4px 4px 7px 3px rgba(14, 12, 12, 0.86);
}
.button:hover{
    transform: scale(1.1);
    box-shadow:  4px 4px 10px var(--primary-color),
             -4px -4px 10px var(--primary-color), inset 4px 4px 7px 3px rgba(14, 12, 12, 0.86);

}
.button-play-back{
    width: 50px;
    height: 50px;
    background: var(--player-buttons) url('../assets/media-icons/play-back-button.png') no-repeat;
    background-size: 20px 20px;
    background-position: center;
}
.button-play{
    position: relative;
    box-shadow:  7px 7px 5px rgba(14, 12, 12, 0.86),
             -4px -4px 10px rgba(255, 255, 255, 0.50), inset 4px 4px 20px 3px rgba(14, 12, 12, 0.86);
} 

.button-play img{
    position: absolute;
    top: calc(30px - 17.5px);
    left: calc(30px - 9.5px);
    width: 30px;
    height: 35px;
} 
.button-play-next{
    width: 50px;
    height: 50px;
    background: var(--player-buttons) url('../assets/media-icons/play-next-button.png') no-repeat;
    background-size: 20px 20px;
    background-position: center;
    
}
.button-random{
    align-self: flex-start;
    width: 40px;
    height: 40px;
    background: var(--player-buttons) url('../assets/media-icons/button-random.png') no-repeat;
    background-size: 20px 20px;
    background-position: center; 
}
.button-list{
    align-self: flex-start;
    width: 40px;
    height: 40px;
    background: var(--player-buttons) url('../assets/media-icons/play-list-button.png') no-repeat;
    background-size: 15px 15px;
    background-position: center;  
}